.cal-tw {
  width: 100%;
  @include display;
  @media screen and (min-width: 768px) {
    grid-area: caltwi;
    margin-right: 0.625rem;
  }
}
.contenCalTwi {
  width: 18.75rem;
  @include display;
  flex-direction: column;
}
.cal {
  width: 100%;
  padding: 0.625rem;
  @include display;
}
.calendario {
  @include tamaño(12.5rem, 12.5rem);
  border: 0.0625rem solid #333;
  box-shadow: 0 0 0.1875rem #333;
  border-radius: 0.3125rem;
  cursor: pointer;
  &__img {
    @include tamaño;
    border-radius: 0.3125rem;
  }
  &__text {
    @include display;
    p {
      text-align: center;
      margin: 0 auto;
    }
  }
}
.twitter {
  width: 90%;
  @include display;
  &__twis {
    @include tamaño(100%, 18.75rem);
  }
}
.twitter-timeline {
  @include display;
  padding: 0.3125rem;
  border: 0.0625rem solid #333;
  box-shadow: 0 0 0.1875rem #333;
}
.conten_calModal_img {
  @include tamaño;
  overflow: hidden;
}
// .conten_calModal {
//   position: fixed;
//   @include tamaño;
//   @include display;
//   top: 0;
//   left: 0;
//   background: rgba(0, 0, 0, 0.5);
//   padding: 0 0.3125rem;
//   opacity: 0;
//   transform: scale(0);
//   transition: transform 0.5s;
//   z-index: 100;
//   &--openImg {
//     opacity: 1;
//     transform: scale(1);
//   }
//   &__imgConten {
//     height: 50%;
//     position: relative;
//     @media screen and (min-width: 768px) {
//       height: 80%;
//     }
//     @media screen and (min-width: 1400px) {
//       height: 90%;
//     }
//   }
//   &__img {
//     height: 100%;
//     display: block;
//     object-fit: cover;
//     border-radius: 0.3125rem;
//     border: 0.0625rem solid #333;
//   }
// }
