.con_footer {
  @include tamaño(100%, 100%);
  background: #fbf9ff;
  @include display;
  flex-direction: column;
  animation: 1s normal op;
  border-top: 0.0625rem solid #333;
  box-shadow: 0 0 3px #333;
  @keyframes op {
    0% {
      opacity: 0;
      transform: translateY(100px);
    }
  }
  &__con_icon {
    @include tamaño(100%, 3.125rem);
    @include display;
    margin: 0 auto;
  }
  &__redess {
    color: #000;
    @include tamaño(2.1875rem, 2.1875rem);
    @include display;
    text-decoration: none;
    margin: 0.625rem;
    background-color: #fff;
    border-radius: 50%;
    border: 0.0625rem solid #333;
    &--facebook {
      &:hover {
        color: blue;
        box-shadow: 0 0 0.1875rem blue;
        transform: rotate(360deg) scale(1.1);
        transition: transform ease-in-out 0.3s;
      }
    }
    &--twitter {
      &:hover {
        color: rgb(0, 38, 255);
        transform: rotate(360deg);
        transform: rotate(360deg) scale(1.1);
        transition: transform ease-in-out 0.3s;
      }
    }
    &--instagram {
      &:hover {
        color: purple;
        transform: rotate(360deg);
        transform: rotate(360deg) scale(1.1);
        transition: transform ease-in-out 0.3s;
      }
    }
    i {
      font-size: 1.5625rem;
    }
    @media screen and (min-width: 2000px) {
      width: 90px;
      height: 90px;
    }
  }
  &__con_info {
    @include display;
    p {
      text-align: center;
      padding: 0.3125rem;
      margin: 0;
      color: #000;
      font-weight: bold;
      font-size: 0.9375rem;
    }
  }
}
