.modalSccion {
  position: fixed;
  @include tamaño;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  transform: scale(0);
  transition: transform 0.5s;
  z-index: 100;
  @include display;
  opacity: 0;
  &--openModal {
    opacity: 1;
    transform: scale(1);
  }

  &__seccionConte {
    position: relative;
    @include tamaño(31.25rem, auto);
    background: #fff;
    border: 0.0625rem solid #333;
    border-radius: 0.3125rem;
    box-shadow: 0 0 0.1875rem #333;
    @include display;
    flex-direction: column;
    color: #333;
    border-bottom: 0.0625rem solid rgb(255, 50, 50);
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  &__titulo {
    margin-top: 0.625rem;
    margin-bottom: 0;
    font-family: "Lemonada", cursive;
  }
  &__SubTitulo {
    margin-top: 0.625rem;
    margin-bottom: 0;
    font-family: "Lemonada", cursive;
  }
}
.formConten {
  @include tamaño(100%, 100%);
  padding: 0.625rem;
  &__label {
    display: block;
    font-weight: bold;
  }

  &__contIimput {
    @include display;
    width: 100%;
    border-radius: 0.3125rem;
    border: 0.0625rem solid #333;
    box-shadow: 0 0 0.1875rem #333;
    margin: 0.3125rem auto;
    border-bottom: 0.0625rem solid rgb(255, 50, 50);
    background: #fff;
    position: relative;
    &:hover {
      box-shadow: 0 0 0.3125rem #333;
      transform: scale(1.01);
      transition: transform 0.3s;
    }
    &--validatorInpud {
      border: 1px solid red;
      box-shadow: 0 0 5px solid red;
    }
  }
  &__iconConten {
    padding: 10px;
    @include display;
    border-radius: 0.3125rem 0px 0px 0.3125rem;
    border-right: 0.0625rem solid rgba(51, 51, 51, 0.322);
    font-size: 1.125rem;
    &--iconValidator {
      color: red;
    }
    &--eye {
      padding: 0.625rem;
      border-radius: 0px 0.3125rem 0.3125rem 0px;
      border-left: 0.0625rem solid rgba(51, 51, 51, 0.322);
      cursor: pointer;
      position: relative;
      top: 0;
      right: 0;
      border-right: none;
      color: #333;
    }
  }
  &__input {
    padding: 0.3125rem;
    @include tamaño(100%, 2.5em);
    border: 0;
    font-weight: bold;
    outline: none;
    background: #fff;
    font-size: 1rem;
    border-radius: 0.3125rem;
  }
  &__button {
    margin-top: 5px;
    border: 0.0625rem solid #333;
    box-shadow: 0 0 3px #333;
    text-align: center;
    @include tamaño(100%, 2.5em);
    padding: 0.3125rem 0.625rem;
    border-radius: 0.3125rem;
    font-weight: bold;
    border-bottom: 0.0625rem solid rgb(255, 50, 50);
    background: #fff;
    &:hover {
      box-shadow: 0 0 0.3125rem #333;
      transform: scale(1.01);
      transition: transform 0.3s;
    }
  }
  &__btnRegistro {
    color: #333;
    font-weight: bold;
    cursor: pointer;
    display:flex;
    &--none {
      display: none;
    }
    i {
      margin-left: 2px;
    }
    &:hover {
      color: #000;
    }
  }
}

.registrarSecionGrupo {
  display: none;
  &--registrar {
    display: block;
  }
}

.infoContenforInput {
  position: absolute;
  top: -195%;
  z-index: 2;
  color: #000;
  width: 100%;
  height: 3.75rem;
  padding: 5px;
  @include display;
  background: rgb(255, 50, 50);
  border-radius: 5px;
  margin-bottom: 5px;
  font-weight: lighter;
  transform: translateY(-100%);
  opacity: 0;
  visibility: hidden;
  padding: 5px;
  @media screen and (min-width: 768px){
      top: -165%;
  height: 3.125rem;
  }
 
  &::before {
    content: "";
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #ff3232;
    position: absolute;
    bottom: -25%;
     @media screen and (min-width: 2000px){
    bottom: -15%;
  }
  }
  &--leyenda_active {
    opacity: 1;
    visibility:visible;
    transform: translateY(0);
    transition: transform 0.3s;
  }

  &__p {
    margin: 0 auto;
    text-align: center;
    font-size:1rem;
  }
}
