@import url("https://fonts.googleapis.com/css2?family=Lemonada:wght@300;500&display=swap");
html {
  font-size: 16px;

  @media screen and (min-width: 1400px) {
    font-size: 18px;
  }
  @media screen and (min-width: 2000px) {
    font-size: 30px;
  }
}
body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
  gap: 0.625rem;
  font-family: sans-serif;
  height: 100vh;
}
.modalOpenBody {
  overflow: hidden;
}
.logo {
  width: 100%;
  height: 2.5rem;
  margin: 0.3125rem auto;
}
.header {
  z-index: 2;
}
.main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
  gap: 0.625rem;
  @media screen and (min-width: 768px) {
    grid-template-columns: 1fr auto;
    grid-template-rows: repeat(2, auto);
    grid-template-areas: "slider caltwi" "tarjetas tarjetas";
  }
  @media screen and (min-width: 2000px) {
    gap: 0;
  }
}

.closeModal {
  z-index: 3;
  text-decoration: none;
  position: absolute;
  right: 0.3125rem;
  top: 0.3125rem;
  color: #333;
  @include display;
  @include tamaño(1.25rem, 1.25rem);
  border-radius: 50%;
  &--p {
    color: #fff;
  }
  &::before {
    content: "";
    position: absolute;
    @include tamaño(1.25rem, 1.25rem);
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
  }
  &:hover {
    color: #646464;
    transform: rotate(360deg);
    border: 0.0625rem solid #333;
    transition: all 0.3s;
  }
}
.info {
  @include tamaño(90%, 3.125rem);
  @include display($d: none);
  border-radius: 0.3125rem;
  border: 0.0625rem solid #333;
  box-shadow: 0 0 0.1875rem #333;
  padding: 0.3125rem;
  margin: 0.3125rem auto;
  &--error {
    display: flex;
    background: #fd3232;
    box-shadow: 0 0 0.3125rem #fd3232;
  }
  &--correcto {
    display: flex;
    background: #41e941;
    box-shadow: 0 0 0.3125rem #41e941;
  }
  &__infoText {
    color: #000;
    text-align: center;
    b {
      font-weight: bold;
    }
  }
}
